
.tab {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 80px;
    top: 80px;
    width: 100%;
    z-index: 9999;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-align: center; 
}

.tabcontent {
    top: 1px;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
    position: relative;
    width: 100%;
    list-style: none;
}

.columnlist {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    column-fill: balance;    
}

.singlecard {
    columns: auto;
}


.card {
    background-color: rgba(155, 206, 212, 0.719);
    border: 2px solid rgb(54, 64, 68);
    padding: 1px;
    margin: 0 0 1em 0;
    width: 80%;
}

.cardsmall {
    background-color: rgba(155, 206, 212, 0.719);
    border: 2px solid rgb(54, 64, 68);
    padding: 1px;
    margin: 0 0 1em 0;
    width: 33%;
}

.left {
    text-align: left;
}

li {
    list-style: none;
    margin-bottom: 1px;
}


header {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    color: #000;
    font-size: 40px;
    font-weight: 400;

}

body {
    background-color: rgb(234, 236, 234);
    font-weight: 400;
}

h3 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
}

h4 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    column-span: all;
}


/* Path: Arahkni.github.io\index.html */